body {
  background: #fff;
  line-height: 1.4;
}

header {
  background: #f5f5f5;
  text-align: center;
  padding-top: 80px;
}

h1 {
  display: inline-block;
  font-size: 4em;
  line-height: 1;
  font-weight: 700;
  color: #447738;
  img {
    width: 50%;
  }
}

h2 {
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 40px;
  letter-spacing: 1px;
}

a {
  font-weight: 700;
  &:hover {
    text-decoration: underline;
  }
}

.tagline  {
  margin: 0;
  margin-bottom: 30px;
  color: #999;
}

.status--github {
  position: relative;
  display: inline-block;
  padding: 8px 20px 8px 36px;
  border: 1px solid #ccc;
  border-right: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background: #fff;
  letter-spacing: 1px;
  &::before {
    content: "";
    position: absolute;
    top: 13px;
    left: 12px;
    height: 14px;
    width: 20px;
    background-image: url(images/icon-star.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.button--github {
  position: relative;
  display: inline-block;
  padding: 8px 20px 8px 40px;
  box-shadow: 0 0 2px rgba(0,0,0,.5);
  // border-top-right-radius: 4px;
  // border-bottom-right-radius: 4px;
  border-radius: 4px;
  font-weight: 700;
  // transform: translate3d(0,0,0);
  transition: all .1s;
  &:hover {
    background: #fff;
    text-decoration: none;
    box-shadow: 0 1px 5px rgba(0,0,0,.3);
    // transform: scale(1.05);
  }
  &::before {
    content: "";
    position: absolute;
    top: 14px;
    left: 16px;
    height: 14px;
    width: 20px;
    background-image: url(images/icon-github.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.demo-revibar {
  display: block;
  margin-top: 45px;
  img {
    width: 70%;
    max-width: 400px;
    vertical-align: bottom;
  }
}

.main {
  padding: 20px;
  max-width: 560px;
  margin-left: auto;
  margin-right: auto;
  p {
    font-size: 1em;
  }
  .intro {
    font-size: 1.25em;
    @media (min-width: 640px)  {
      font-size: 1.5em;
    }
  }
  @media (min-width: 640px) {
    padding: 60px 20px;
  }
}

.list--features {
  margin-bottom: 30px;
  li {
    position: relative;
    padding-left: 30px;
    margin: 10px 0;
    &::before {
      content: "";
      position: absolute;
      top: 7px;
      left: 0;
      height: 12px;
      width: 20px;
      background-image: url(images/icon-check.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
}

code {
  margin-top: 10px;
  padding: 20px !important;
  font-family: Courier New;
  border-radius: 4px;
}

.brb-active {
  box-shadow: 0 0 10px rgba(0,0,0,.1);
}

footer {
  max-width: 560px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 40px 0;
  border-top: 1px solid #ccc;
  .logo-beast {
    height: 12px;
    margin-left: 4px;
  }
}

.arrow--animated {
  position: fixed;
  top: 30px;
  right: 90px;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  40% {
    -moz-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
    opacity: 0;
  }
  60% {
    -moz-transform: translateX(-15px);
    -ms-transform: translateX(-15px);
    -webkit-transform: translateX(-15px);
    transform: translateX(-15px);
    opacity: 1;
  }
}
