@import 'reset';

/* Base Variables */

$brb-aside-width: 320px;
$brb-aside-width-mini: 300px;
$brb-brand-color: #589442;
$brb-copy-color: #333;
$brb-copy-font: "Source Sans Pro", Roboto, Helvetica, Arial, sans-serif;

/* Styles */

body {
	font-family: $brb-copy-font;
	font-size: 100%;
  font-weight: 400;
	line-height: 1.5;
  background: #222;
}

h3 {
  font-size: 1.125em;
  font-weight: 600;
  margin-top: 4px;
  margin-bottom: 4px;
}

hr.divider {
  height: 0;
  margin-top: 10px;
  margin-bottom: 18px;
  border: 0;
  border-bottom: 1px solid #eee;
}

.brb-main {
  position: fixed;
	top: 0;
	bottom: 0;
	right: -$brb-aside-width;
  z-index: 99999;
  display: block;
  width: $brb-aside-width;
	text-align: left;
  color: $brb-copy-color;
  transition: transform 0.5s cubic-bezier(.87,.41,.19,2);
  -webkit-overflow-scrolling: touch;

    @media (max-width: 360px) {
      right: -$brb-aside-width-mini;
      width: $brb-aside-width-mini;
    }

	.brb-aside {
		position: absolute;
		top: 0;
		bottom: 0;
		width: $brb-aside-width;
    overflow: auto;
		background: #fff;

      @media (max-width: 360px) {
        width: $brb-aside-width-mini;
      }

    .brb-head {
      margin-top: 6px;
    }

		article {
			padding: 10px 30px;

        @media (max-width: 360px) {
          padding: 10px 20px;
        }

			&.brb-module-traveler-rating {
				display: block;
				overflow: hidden;
				img {
          float: left;
					width: auto;
          height: 20px;
          margin: 2px 6px 8px 0;
				}

				.brb-review-count {
					float: right;
				}

				.brb-data-score {
				  float: left;
				  max-width: 120px;
				  height: 20px;
				  ul {
            display: inline-block;
            width: 20px;
            height: 20px;
            box-sizing: border-box;
				    border: 2px solid $brb-brand-color;
				    border-radius: 50%;
				    &::before {
				      content: "";
				      position: absolute;
				      width: 10px;
              height: 10px;
              overflow: hidden;
				      margin: 3px;
				      border-radius: 50%;
				    }
				  }
				}
			}

			.brb-data-title {
        display: block;
			  float: left;
			  min-width: 140px;
			}

			/* Module: Ranking */

			&.brb-module-ranking {
			  display: block;
			  overflow: hidden;

			  .brb-rank {
          float: left;
			    width: 40px;
          height: 40px;
          border: 1px solid #eee;
			    border-radius: 20px;
			    font-size: 125%;
			    font-weight: bold;
          line-height: 40px;
          color: $brb-brand-color;
			    text-align: center;
			  }

			  p {
			    float: left;
			    margin-left: 10px;
			    line-height: 1.25;
			  }

			}

			/* Module: Rating */

			.brb-data-title {
			  float: left;
			  max-width: 120px;
			}

			.brb-data-score {
			  float: right;
        margin-top: 2px;
			  li {
          display: inline-block;
          width: 20px;
			    height: 20px;
			    border: 2px solid $brb-brand-color;
			    border-radius: 50%;
			    box-sizing: border-box;

			    &::before {
			      content: "";
			      position: absolute;
			      width: 10px;
			      height: 10px;
            overflow: hidden;
			      margin: 3px;
			      border-radius: 50%;
			    }
			  }
			}

			.brb-full {
			  position: absolute;
        z-index: 1;
			  width: 10px;
			  height: 10px;
			  overflow: hidden;
			  margin: 3px;
			  border-radius: 50%;

			  &::before {
			    content :"";
			    position: absolute;
			    width: 10px;
			    height: 10px;
			    background: $brb-brand-color;
			  }
			}

			.brb-half::before {
			  width: 6px;
			}

			.brb-empty {
			  content: "lol";
			  display: none;
			}


			/* Module: Reviews */

			&.brb-module-reviews {
				position: relative;

				ul li {
					overflow: hidden;
 					margin: 4px 0;
				}

				.brb-data-bar {
					position: absolute;
          height: 10px;
					background: $brb-brand-color;
				}

				.brb-data-bar-bg {
					content: "";
					position: relative;
					float: right;
          width: 120px;
					height: 10px;
					margin-top: 8px;
          background: #ddd;
				}
			}
		}
	}

	.brb-switch {
		position: absolute;
		top: 10px;
		left: -70px;
    z-index: 10;
		width: 60px;
		height: 60px;
		background-color: $brb-brand-color;
    background-image: url(../img/tripadvisor-logo.png);
    background-size: 40px;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 30px;
    box-sizing: border-box;
    box-shadow: 0 1px 10px rgba(0,0,0,.5);
    cursor: pointer;
    transition: transform 1s cubic-bezier(.8,-.5,.2,2), background .1s ease-out;

    &:hover {
      background-color: lighten($brb-brand-color,10%);
    }
	}

	&.brb-active {
		transform: translateX(-$brb-aside-width);
    transition: transform .3s ease-out;

      @media (max-width: 360px) {
        transform: translateX(-$brb-aside-width-mini);
      }

    .brb-switch {
      background: $brb-brand-color;
      background-image: none;
      transform: translateX(40px) translateY(62px) scale(.667) rotate(-360deg);
      transition: transform .3s ease-out;

        @media (max-width: 360px) {
          transform: translateX(45px) translateY(56px) scale(.667) rotate(-360deg);
        }

      &::before {
        content: "×";
        position: absolute;
        width: 100%;
        font-size: 36px;
        color: #fff;
        line-height: 60px;
        text-align: center;
      }
    }
	}

	header {
		padding: 15px 20px;
    font-weight: bold;
		background: #fff;
	}

	.brb-group:before,
	.brb-group:after {
	  content: " ";
	  display: table;
	}
	.brb-group:after {
	  clear: both;
	}

  .brb-group div {
    overflow: hidden;
  }

	.brb-button {
	  display: block;
	  height: 40px;
    margin: 20px 30px;
    font-weight: 600;
    line-height: 38px;
    color: $brb-copy-color;
    text-align: center;
	  letter-spacing: 1px;
    text-transform: uppercase;
	  text-decoration: none;
    background-image: linear-gradient(#fff,#f6f6f6);
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0,0,0,.3)
	}

	.brb-copyright {
	  margin-top: 20px;
    margin-bottom: 20px;
	  color: #999;
    text-align: center;
	}
}
